<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div>
    <p>Welcome back <b><%= name %>!</b> <a href='/profile'>Profile</a> <a href='/logout'>Logout</a> <button type="button">Join another room</button></p>
  </div>
  <div>Chat Messages:</div>
  <div>
    <label for="message">Message</label>
    <input type="text" id="message" name="message" required />
    <button type="submit">Send</button>
  </div>
</body>
</html>