<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>Welcome to Florentino's Online Chat 2023</h2>
  <a href="/login">Login</a> or <a href="/register">Register</a>
</body>
</html>